<!-- dashboard_page_6.html -->




<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Rate Chart</title>
</head>
<body>
    <img src="data:image/png;base64,{{ chart_base64 }}" alt="Restaurant Rate Chart">
</body>
</html>