<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top Dishes</title>
    <style>
        /* Center align the entire body content */
        body {
            text-align: center;
        }
        /* Center the form and image within the body */
        form, img {
            margin: 0 auto;
            display: block;
        }
    </style>
</head>
<body>
    <h1>Top 5 Dishes</h1>
    <!-- Add a form for selecting a restaurant -->
    <form action="{% url 'dashboard_page_1' %}" method="get">
        <label for="restaurant">Choose a restaurant:</label>
        <select name="restaurant_id" id="restaurant">
            {% for restaurant in restaurants %}
                <option value="{{ restaurant.restaurantId }}" {% if restaurant.id == selected_restaurant_id|stringformat:"s" %}selected{% endif %}>
                    {{ restaurant.name }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Show Top Dishes">
    </form>
    <!-- Display the graph image -->
    <img src="data:image/png;base64,{{ graph }}" alt="Top 5 Dishes">
</body>
</html>
