{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics Dashboards - Unifood</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }
        .header {
            margin-top: 50px;
            font-size: 2em; /* Keep the original size, or adjust as necessary */
            color: #333; /* Dark grey color for better readability */
            font-weight: 600; /* Semi-bold font weight */
            text-align: center; /* Centers the text if the header is full width */
            padding: 10px 0; /* Adds padding above and below the text */
            background-color: #f8f8f8; /* Light background color for the header */
            border-bottom: 3px solid #e7e7e7; /* Adds a border at the bottom for some definition */
            box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow at the bottom */
            text-transform: uppercase; /* Makes the text uppercase for stylistic preference */
            letter-spacing: 1px; /* Increases spacing between letters */
            text-shadow: 1px 1px 1px rgba(0,0,0,0.1); /* Light text shadow for depth */
        }

        .header img {
            vertical-align: middle;
            width: 150px;
        }
        .refresh-button {
            margin-top: 30px;
            padding: 10px 20px;
            font-size: 1.5em;
            cursor: pointer;
            background-color: #87CEFA; /* Light blue background */
            color: white; /* White text */
            border: 2px solid transparent; /* Transparent border */
            border-radius: 25px; /* Pill-like rounded corners */
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1); /* Subtle shadow */
            transition: all 0.3s ease; /* Smooth transition for hover effects */
            text-align: center; /* Center the text */
            display: inline-block; /* Allows the use of margin and text alignment */
            font-weight: bold; /* Makes the font bold */
        }

        .refresh-button:hover {
            background-color: #B0E0E6; /* A slightly different shade of light blue for hover */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15); /* Larger shadow for hover */
            border: 2px solid #B0C4DE; /* Slight border color change on hover */
            transform: scale(1.05); /* Slightly scale up the button */
        }
        .dashboard-buttons {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            justify-items: center;
            margin-left: 30%;
            margin-right: 30%;
            margin-bottom: 20px;
        }
        .dashboard-button {
            padding: 20px 40px;
            font-size: 1.2em;
            cursor: pointer;
            background-color: #4CAF50; /* Green background */
            color: white; /* White text */
            border: none; /* No border */
            border-radius: 5px; /* Rounded corners */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add a shadow */
            transition: all 0.3s ease 0s; /* Smooth transition for hover effects */
            text-transform: uppercase; /* Optional: Makes all the text uppercase */
            font-weight: bold; /* Optional: Makes the font bold */
        }

        .dashboard-button:hover {
            background-color: #45a049; /* Darker shade of green for hover */
            box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2); /* Larger shadow for hover */
            transform: translateY(-2px); /* Slight raise effect */
        }
    </style>
     <!-- ... -->
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script>
     function refreshData() {
         $.ajax({
             url: 'ajax/refresh-data/',
             type: 'GET',
             success: function(response) {
                 if(response.success) {
                     alert('Data refreshed successfully!');
                 }
             }
         });
     }
     </script>
</head>
<body>
    <div class="header">
        Analytics Dashboards - Unifood
       <div><img src="../static/images/appIcon.jpg" alt="App Icon"></div> 
    </div>

    <button class="refresh-button" onclick="refreshData()">Refresh Data</button>

    <div class="dashboard-buttons">
        <button class="dashboard-button" onclick="location.href='/dashboard/dashboard_page_1'">Dashboard Page 1</button>
        <button class="dashboard-button" onclick="location.href='/dashboard/dashboard_page_2'">Dashboard Page 2</button>
        <button class="dashboard-button" onclick="location.href='/dashboard/dashboard_page_3'">Dashboard Page 3</button>
        <button class="dashboard-button" onclick="location.href='/dashboard/dashboard_page_4'">Dashboard Page 4</button>
        <button class="dashboard-button" onclick="location.href='/dashboard/dashboard_page_6'">Top Rated Restaurants per month</button>
    </div>
    
    <div  justify-items="center" margin-left="30%" margin-right="30%" margin-top="50px" gap="20px">    
        <button class="dashboard-button" onclick="location.href='/dashboard/dashboard_page_5'">Dashboard Page 5</button>
</div>
</body>
</html>